<section id="homePage">
	<div class="container-main">
		<p class="bg-blurb">newest</p>
		<h1>Olios</h1>
		<p class="title-blurb">newest furniture template</p>
		<button class="btn-more"><a id="btn-more" href="#">view more</a></button>
	</div>

	<div id="carousel">
		<a href="#"><img src="img/slider0.jpg"></a>
		<a href="#"><img src="img/slider2.png"></a>
		<a href="#"><img src="img/slider3.png"></a>
		<a href="#"><img src="img/slider5.png"></a>
	</div>
</section>