<nav class="nav-main">
	<ul>
		<li><a class="icon-logo" href="#"><img class="js-startUp" src="img/icons/logo.png"></a></li>
		<li><a class="js-startUp icon icon-home" href="#"></a></li>
		<li><a class="icon icon-basket" href="#"><span id="cart"></span></a></li>
		<li><a id="search-modal" class="icon icon-search" href="#"></a></li>
	</ul>
	<a class="icon icon-download" href="#"></a>
</nav>