<div id="modal-search" class="">
	<div class="modal-wrap">
		<button id="btn-close-form" class="btn-close-form">
			<span class="close-one"></span>
			<span class="close-two"></span>
		</button>
		<form id="search-form">
			<input type="text" name="search-input" id="search-input">
			<label for="search-input">Type product that you are looking for</label>
		</form>
	</div>
</div>