<div id="nav-toggle" class="nav-toggle">
	<span class="one"></span>
	<span class="two"></span>
	<span class="three"></span>
</div>
<aside class="side-menu">
	<nav class="side-nav">
		<ul class="nav-side">
			<li><a class="js-category-switch icon icon-living" href="#" data-category="living_room">living room</a></li>
			<li><a class="js-category-switch icon-office" href="#" data-category="office">office</a></li>
			<li><a class="js-category-switch icon-kids" href="#" data-category="kids">for kids</a></li>
			<li><a class="js-category-switch icon-kitchen" href="#" data-category="kitchen">kitchen</a></li>
			<li><a class="js-category-switch icon-acc" href="#" data-category="accessories">accessories</a></li>
		</ul>
	</nav>
</aside>