/* typography */

h1 {
	font-size: 16vw;
	font-weight: 100;
	margin-bottom: 2vw;
	
}

p,
a {
	font-size: 1.1rem;
}

.title-blurb {
	font-size: 3vw;
	text-transform: uppercase;
	color: $txt-main;
	font-weight: 300;
}

.bg-blurb {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 7vh;
	font-size: 20vw;
	font-weight: 700;
	color: #e7e7e7;
	z-index: -1;
	text-transform: uppercase;
}

